{% extends "base.html" %}

{% block content %}
    <h1>New Meeting</h1>

    <form method="POST" action="/meetings/create">
        <div class="mb-3">
            <label>Title</label>
            <input type="text" required placeholder="title" name="title" value="{{ title }}"
                   class="form-control">
        </div>
        <div class="mb-3">
            <label>Date</label>
            <input type="date" required placeholder="date" name="date" value="{{ date }}" class="form-control">
        </div>
        <div class="mb-3">
            <label>Attendants</label>
            <input type="text" required placeholder="attendants" name="attendants" value="{{ attendants }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock content %}